html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 50%;
  @include screens(medium){ font-size: 62.5%; }
  @include screens(extra-large){ font-size: 75%; }
}

html, input {
  -webkit-font-smoothing: antialiased;
}

body {
  @include font-size();
  color: $soft-black;
}

a {
  color: $link-color;
  text-decoration: none;
  @include font-weight(semi);
}

.fa {
  margin-right:5px;
  font-size:120%;
}

@mixin fancy-links($color: $link-color) {
  a {
    position: relative;
    display: inline-block;
    outline: none;
    padding: 0 0 10px;
    color: $color;
  }

  a::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color;
    content: '';
    opacity: 0;
    @include transition(all .3s);
    @include transform(translateY(-10px));
  }

  a:hover::after,
  a:focus::after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}


.separator {
    width: 45px;
    height: 2px;
    outline: none;
    border: none;
    background-color: $soft-black;
}

.content {
  margin: 0 auto;
  padding: 60px 20px;

  @include screens(medium) {
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: $content-width + 2*20px;
  }
  @include screens(semi-large) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include screens(extra-large) {
    max-width: $content-width-extra-large + 2*20px;
    padding-bottom: 160px;
  }

  .content-separator {
    @extend .separator;
    margin: 60px auto;
  }

  &.fade-in-on-scroll {
    @include transition(all 0.7s ease-out 0.1s);
    opacity: 1;
    @include transform(translateY(0px));

    &.fade-out {
      opacity: 0;
      @include transform(translateY(50px));
    }
  }
}

.section {
  margin: 0;
}

.heading {
  @include font-weight(black);
  @include font-size(25);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 1.3em 0;
}

.paragraph {
  line-height: 1.4;
}

.header-section {
  @extend .section;
  /*height: 918px;*/

  height: 90%;
  min-height: 620px;
  background-image: url(/images/header-bg.jpg);
  background-position: center bottom;
  
  @media screen and (min-width: image-width('/header-bg.jpg')), screen and (min-height: image-height('/header-bg.jpg')) {
    background-size: cover;
    background-position: center 50%;
  }

  color: white;
  text-align: center;
  position: relative;

  .header-content {
    @extend .content;
    padding: 30px 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    @include screens(medium) {
      left: 50%;
      margin-left: -$content-width/2;
    }
    @include screens(extra-large) {
      margin-left: -$content-width-extra-large/2;
    }
    
  }

  .header-heading {
    @include font-weight(bold);
    letter-spacing: -3px;
    color: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
    @include font-size(100);

    @include screens(medium) {
      @include font-size(110);
    }
  }

  .header-separator {
    @extend .separator;
    height: 4px;
    background-color: white;
  }

  .header-subheading {
    @include font-size();

    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .header-intro {
    @extend .paragraph;
    margin-top: 2.8em;
    margin-bottom: 1.8em;
  }

  .header-form-info {
    @include font-size(15);
  }

  .email-field {
    margin-right: 10px;
  }
}

.location-section {
  @extend .section;
  text-align: center;

  .location-preview-list {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @for $i from 1 through 6 {
    .location-preview-#{$i} {
      float: left;
      height: 80px;
      background-image: url(/images/location-preview-#{$i}.jpg);
      background-size: cover;
      background-position: center center;
      @if $i == 1 or $i == 6 {
        display: none;
      }
      width: (100%/4);
      @include screens(medium) {
        height: 120px;
      }
      @include screens(semi-large) {
        height: 160px;
        width: (100%/6);
        display: block;
      }
      @include screens(extra-large) {
        height: 220px;
      }
    }
  }

  .location-content {
    @extend .content;
    margin-bottom: 30px;
  }
}

.proposals-section {
  @extend .section;
  background-image: url(/images/proposals-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 700px;

  .proposals-content {
    @extend .content;
  }

  .proposals-paragraph {
    @extend .paragraph;
    max-width: 460px;
    margin-bottom: 50px;
  }
}

.about-section {
  @extend .section;

  .about-heading {
    @extend .heading;
    text-align: center;
  }

  .about-paragraph {
    @extend .paragraph;
  }


  .team {
    @include fancy-links();

    text-align: center;
    @include screens(medium){
      text-align: left;
    }
    .member {
      margin-bottom:40px;
      @include screens(medium){
        margin-bottom:70px;
      }
    }
    .member-image {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      @include screens(medium){
        float: left;
        margin-bottom: 0;
      }
      height:140px;
      width:140px;
      .member-image-front {
        width: 140px;
        height: 140px;
        text-indent: -999em;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(140px) rotateY(0deg);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        transform: perspective(140px) rotateY(0deg);
        backface-visibility: hidden;
      }
      .member-image-back {
        display: block;
        width: 140px;
        height: 140px;
        position: absolute;
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(140px) rotateY(179.5deg);
        -ms-backface-visibility: hidden;
        transition: all 0.5s ease-in-out;
        transform: perspective(280px) rotateY(179.5deg);
        backface-visibility: hidden;
      }
      &:hover .member-image-front {
        -webkit-transform: perspective(280px) rotateY(-179.5deg);
        transform: perspective(280px) rotateY(-179.5deg);
      }
      &:hover .member-image-back {
        -webkit-transform: perspective(280px) rotateY(0deg);
        transform: perspective(280px) rotateY(0deg);
      }
    }
    .member-info {
      @include screens(medium) {
        padding-left:170px;
      }
    }
    .member-links a {
      display:inline-block;
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }
    h3 {
      text-transform: uppercase;
      letter-spacing:3px;
      font-size:20px;
      margin: 0 0 10px;
      color:#222;
    }
    p {
      @include font-size(17);
      margin:0 0 10px;
    }


  }
}

.sponsor-section {
  @extend .section;
  background-image: url(/images/sponsor-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 600px;

  @include fancy-links($link-color-light);


  .sponsor-paragraph {
    @extend .paragraph;
    max-width: 460px;
    margin-bottom: 50px;
  }

}

.footer-section {
  background-color: $soft-black;
  color: white;
  text-align: center;
  padding-bottom: 60px;

  .footer-content {
    @extend .content;
    padding-left: 10px;
    padding-right: 10px;
  }

  .email-field {
    margin-right: .5em;
  }

  .footer-social {
    left: -30px;
    margin-top: 30px;
    position: relative;
    list-style: none;
    li {
      margin: 15px 0;
      @include screens(semi-large) {
        float: left;
        width: 33%;
      }
      @include fancy-links(white);
      a {
        @include font-weight(black);
        @include font-size(20);
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    @each $media in (twitter, facebook, instagram) {
      .icon-#{$media}:before {
        @include icon($media);
        font-size: 35px;
        vertical-align: -2px;
      }
    }
  }

}
