html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 62.5%;
}

html, input {
  -webkit-font-smoothing: antialiased;
}

body {
  @include font-size();
  color: $soft-black;
}

.content {
  width: $content-width-large;
  margin: 0 auto;
  padding: 90px 0;
}

.section {
  margin: 0;
}

.heading {
  @include font-weight(black);
  @include font-size(25);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.paragraph {
  line-height: 1.4;
}

.header-section {
  @extend .section;
  /*height: 918px;*/

  height: 95%;
  min-height: 620px;
  max-height: 1100px;
  background-image: url(/images/header-bg.jpg);
  background-position: center bottom;
  
  @media screen and (min-width: image-width('/header-bg.jpg')), screen and (min-height: image-height('/header-bg.jpg')) {
    background-size: cover;
    background-position: center 40%;
  }

  color: white;
  text-align: center;
  position: relative;

  .header-content {
    @extend .content;
    padding: 30px 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -$content-width-large/2;
  }

  .header-heading {
    @include font-weight(bold);
    @include font-size(110);
    letter-spacing: -3px;
    color: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .header-separator {
    width: 45px;
    height: 4px;
    outline: none;
    border: none;
    background-color: white;
  }
  .header-subheading {
    @include font-size();

    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .header-intro {
    @extend .paragraph;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .header-form-info {
    @include font-size(15);
  }

  .email-field {
    margin-right: 10px;
  }
}

.location-section {
  @extend .section;
  text-align: center;

  .location-preview-list {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  @for $i from 1 through 6 {
    .location-preview-#{$i} {
      float: left;
      width: (100%/6);
      height: 160px;
      background-image: url(/images/location-preview-#{$i}.jpg);
      background-size: cover;
      background-position: center center;
    }
  }

  .location-content {
    @extend .content;
    padding: 100px 0;
    margin-bottom: 30px;
  }
}

.proposals-section {
  @extend .section;
  background-image: url(/images/proposals-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 700px;

  .proposals-content {
    @extend .content;
    padding: 90px 0;
  }

  .proposals-paragraph {
    @extend .paragraph;
    width: 460px;
    margin-bottom: 50px;
  }
}

.about-section {
  @extend .section;

  .about-heading {
    @extend .heading;
    text-align: center;
  }

  .about-paragraph {
    @extend .paragraph;
  }
}

.sponsor-section {
  @extend .section;
  background-image: url(/images/sponsor-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 600px;



  .sponsor-paragraph {
    @extend .paragraph;
    width: 460px;
    margin-bottom: 50px;
  }

}

.footer-section {
  background-color: $soft-black;
  color: white;
  text-align: center;
  padding-bottom: 150px;

  .email-field {
    margin-right: 10px;
  }

  .footer-social {
    left: -30px;
    margin-top: 60px;
    position: relative;
    list-style: none;
    li {
      float: left;
      width: 33%;
      @include font-weight(black);
      @include font-size(20);
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    @each $media in (twitter, facebook, instagram) {
      .icon-#{$media}:before {
        @include icon($media);
        font-size: 35px;
        vertical-align: -2px;
      }
    }
  }

}
