@import "compass";


$soft-black: hsl(0,0,20%);
$link-color: #4188C8;
$link-color-light: #78C0FF;
$font-path: '../fonts';


$break-medium: 650px;
$break-semi-large: 1200px;
$break-large: 1550px;
$break-extra-large: 1700px;

$break-tall: 960px;
$break-medium-tall: 680px;



$content-width: 620px;
$content-width-extra-large: 780px;

@mixin input-placeholder {
  @if $experimental-support-for-webkit {
    &::-webkit-input-placeholder {
      @content;
    }
  }
  @if $experimental-support-for-mozilla {
    &:-moz-placeholder {
      @content;
    }
  }
  @if $experimental-support-for-microsoft {
    &:-ms-input-placeholder {
      @content;
    }
  }
}

@mixin font-weight($grade: normal) {
  $weight: 400;
  @if $grade == semi {
    $weight: 600;
  } @else if $grade == bold {
    $weight: 700;
  } @else if $grade == black {
    $weight: 900;
  }
  font-weight: $weight;
}

@mixin font-size($size: 20) {
  font-size: #{$size}px;
  font-size: #{$size/10}rem;
}


@mixin icon($name) {

  $glyph: "\F32D"; //Instagram
  @if $name == twitter {
    $glyph: "\F309"; 
  } @else if $name == facebook {
    $glyph: "\F30C"; 
  }

  font-family: "EntypoSocial";
  content: $glyph;
}


@mixin screens($type) {
  @if($type == medium) {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @if($type == semi-large) {
    @media only screen and (min-width: $break-semi-large) { @content; }
  }
  @if($type == large) {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @if($type == extra-large) {
    @media only screen and (min-width: $break-extra-large) { @content; }
  }
  @if($type == medium-tall){
    @media only screen and (min-height: $break-medium-tall) { @content; }
  }
  @if($type == tall) {
    @media only screen and (min-height: $break-tall) { @content; }
  }
}

